#backButton {
    color: red;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 70px;
    height: 65px;
    line-height: 10px;
    //border: 3px solid #8AC007;
    text-align: center;
}

.centerText {
    text-align: center;
}
body {
    background-color: #eeeeee;
}
